:root {
    --dark :hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --typografy1: 'Fraunces', serif;
    --typografy2: 'Montserrat', sans-serif;
}

html, body {
    height:100%; 
    margin:0;
    padding:0;
    background-color: var(--cream);
}

.container {
    margin: 50px auto;  
    width: 600px;
    border-radius: 15px;
    background-color: var(--white);
}

.div-contain {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px; /*Así hacés que el border raius sólo se aplique a las esquinas que vos quieras, empieza desde la superior izquierda y va en el sentido de las agujas del reloj*/
}

.contain-info {
    margin: 20px;
    display: grid;
}

/* Casi 5 horas de prueba y error, codeando de manera mediocre
    y teninedo que investigar sobre el uso adecuado de flex y grid.
    Estuve muy cerca de poder terminarlo pero estaba hecho de una 
    manera horrible a la vista del desarrollo eficiente.
    Básicamente borrá todo y empecé de vuelta xd
    Si hubiera sacado screen la adjuntaba asi veían el mamarracho*/

/* Jajaja para eso están los commits, tenés que hacerlos más seguido sino piernden el senmtido, con el comando "alt+z" en Visual Studio activás el ajsute de línea así si querés hacer un comentario no hace falta que los enters los pongas vos*/
